# Copia este archivo a ".env" y configura las variables necesarias
VITE_API_URL=http://localhost:3000
VITE_API_FALLBACK_URL=https://appcafeteria-production-d2db.up.railway.app
VITE_SUPABASE_URL=https://qbchjmgonvvskmnrqxdh.supabase.co
VITE_SUPABASE_KEY=sb_publishable_TqGrBYK1lhXGh1k8z6IXmQ_XbxzIPGb