SUPABASE_URL=https://qbchjmgonvvskmnrqxdh.supabase.co
SUPABASE_SECRET_KEY=sb_secret_JOOSGTL3te2Q_REGjIlVfQ_SbRaiR6t
PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=AppCafeteriaSecretKey123
STRIPE_SECRET_KEY=sk_test_51TM4ro0AXnRANAFoIqWtoyouSzvnJFKcQc1sYZOTUpNFeR1390VS95SzyLKp9p0fSEtKsk7J08Dxqi9vduF9IGsU00BDxrvr8r
# Solo para desarrollo/pruebas. Debe permanecer en false y no usarse en producción.
DEV_BYPASS_STRIPE_PAYMENT=true
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
