SUPABASE_URL=https://qbchjmgonvvskmnrqxdh.supabase.co
SUPABASE_SECRET_KEY=sb_secret_JOOSGTL3te2Q_REGjIlVfQ_SbRaiR6t
PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=AppCafeteriaSecretKey123
STRIPE_SECRET_KEY=rk_test_51TM4ro0AXnRANAFoSIzimjZQjhDm2SObUhfSzzxWx9kwTDn9wgn836jpQBxrHtinIdnqihJKOLFg0risSrrmm48l00No4M72rr
# Tambien puedes usar sk_test_... como clave secreta estandar de Stripe.
# Solo para desarrollo/pruebas. Debe permanecer en false y no usarse en producción.
DEV_BYPASS_STRIPE_PAYMENT=true
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
